version: "3.4"

networks:
  inner_net:

services:
  minitwit_be.api:
    image: jrusbjerg/twitbackend
    depends_on:
      - mariadb
    ports:
      - "8080:5000"
      - "8081:5001"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=toonage15
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/Minitwit_BE.Api.pfx
    volumes:
      - ~/.aspnet/https:/https:ro
      - ~/logs:/home/logs
    networks:
      - inner_net

  prometheus:
    image: quay.io/prometheus/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - minitwit_be.api
    networks:
      - inner_net

  grafana:
    image: grafana/grafana
    depends_on:
      - prometheus
    user: "$UID:$GID"
    volumes:
      - ./gfdata:/var/lib/grafana
    ports:
      - "9091:3000"
    networks:
      - inner_net

  mariadb:
    image: mariadb
    restart: always
    networks:
      - inner_net
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: SuperSecretPassword
      MYSQL_DATABASE: WaystoneInn
    command: --init-file /data/application/init.sql
    volumes:
      - ./mariadb_init.sql:/data/application/init.sql
