version: "3.4"

networks:
  inner_net:

services:
  minitwit_be.api:
    image: jrusbjerg/twitbackend
    restart: always
    ports:
      - "8080:5000"
      - "8081:5001"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${ASP_KESTREL_PWD}
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/Minitwit_BE.Api.pfx
      - CONNECTION_STRING=${DB_CONN_STR}
      - LOGGING_TOKEN=${DD_TOKEN}
    volumes:
      - ~/.aspnet/https:/https:ro
      - ~/logs:/home/logs
    networks:
      - inner_net

  prometheus:
    image: prom/prometheus:v2.34.0
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - minitwit_be.api
    networks:
      - inner_net

  grafana:
    image: grafana/grafana:8.4.4-ubuntu
    depends_on:
      - prometheus
    user: "$UID:$GID"
    volumes:
      - ./gfdata:/var/lib/grafana
    ports:
      - "9091:3000"
    networks:
      - inner_net

  mariadb:
    image: mariadb:10.8.2-rc
    restart: always
    networks:
      - inner_net
    #ports:
     # - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_TABLE}
    volumes:
      - dbdata:/var/lib/mysql


volumes:
  dbdata:
